body {
  background: #0b1220;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Segoe UI;
}

.join {
  background: #0f1a2b;
  padding: 40px;
  border-radius: 10px;
  color: white;
}

.chat-container {
  width: 360px;
  height: 600px;
  background: #0f1a2b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px;
  background: linear-gradient(90deg,#0b1220,#162544);
  color: white;
  text-align: center;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.msg {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
}

.me {
  background: #2563eb;
  margin-left: auto;
}

.other {
  background: #1f2937;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #0b1220;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.input-box button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
}
